In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import experimenter
import pandas as pd 
import matplotlib.pyplot as plt 

sns.set_theme()

In [15]:
KNATIVE_EXPERIMENT_NAME = "exps/20230310_055224.feather"

def process_experiment(filename):
    data_df = pd.read_feather(filename)

    data_df["api_server_creation_delta"] = data_df["event_created_at"] - data_df["before_create_timestamp"]
    data_df["api_server_deletion_delta"] = data_df["event_deleted_at"] - data_df["before_delete_timestamp"]

    data_df["api_scheduler_creation_delta"] = data_df["last_scheduled_at"] - data_df["first_created_at"]

    # ADD OTHER TIME DELTA CALCULATIONS HERE
    
    data_df.to_feather(filename)
    return data_df

knative_minikube_df = process_experiment(KNATIVE_EXPERIMENT_NAME)
# knative_minikube_df.columns
knative_minikube_df

,before_create_timestamp,before_firstwait_timestamp,before_delete_timestamp,before_secondwait_timestamp,before_cooldown_timestamp,before_join_timestamp,replicas,framework,error_occured,errors_rised,...,event_replicas_at,first_created_at,last_created_at,first_deleted_at,last_deleted_at,first_scheduled_at,last_scheduled_at,api_server_creation_delta,api_server_deletion_delta,api_scheduler_creation_delta
0,2023-03-10 05:52:25.327957,2023-03-10 05:52:25.384790,2023-03-10 05:52:32.952828,2023-03-10 05:52:33.107007,2023-03-10 05:52:33.107024,2023-03-10 05:52:34.108166,1,native,False,"[None, None, None]",...,"[nan, nan, nan, 1.0]",2023-03-10 05:52:25.536836,2023-03-10 05:52:25.536836,2023-03-10 05:53:06.988314,2023-03-10 05:53:06.988314,2023-03-10 05:52:25.601582,2023-03-10 05:52:25.601582,0 days 00:00:00.052260,0 days 00:00:00.158197,0 days 00:00:00.064746

In [17]:
knative_minikube_df.api_scheduler_creation_delta

0   0 days 00:00:00.064746
Name: api_scheduler_creation_delta, dtype: timedelta64[ns]

In [ ]:
# # BETTER PROCESS THIS DATA
# plt.figure(figsize=(20, 4))
# plt.subplot(1, 2, 1)
# plt.plot(knative_minikube_df["api_server_deletion_delta"]); plt.title("Creation Times")
# plt.subplot(1, 2, 2)
# plt.plot(knative_minikube_df["api_server_creation_delta"]); plt.title("Deletion Times")
# plt.show()

In [ ]:
# def draw_replicas(replicas=REPLICAS):
#     plt.figure(figsize=(8, 4))
#     plt.plot(range(len(replicas)), replicas)
#     plt.title("Replica Count by Experiments")
#     plt.xlabel("Experiment")
#     plt.ylabel("Replicas")
#     plt.show()

# draw_replicas()
# print(COOLDOWNS)
# print(REPLICAS)